@tailwind base;
@tailwind components;
@tailwind utilities;

.avatar {
  transition: filter 150ms ease-in-out;
  filter: grayscale(1);
}

.avatar:hover {
  filter: grayscale(0);
}

.animate-appear {
  animation: appear 500ms ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}